* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

header img {
  position: relative;
  float: left;
  margin: 10px 10px 0;
  height: 90px;
}

.navigation a {
  position: relative;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .BtnLogin-Popup {
  width: 140px;
  height: 50px;
  background: transparent;
  border: 2px solid rgb(216, 58, 58);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .BtnLogin-Popup:hover {
  background: salmon;
  color: rgb(0, 0, 0);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(109, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 50px;
}

.wrapper .form-box.login {
  /* display: none; */
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  /* display: none; */
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: rgb(255, 255, 255);
  font-size: 2.2em;
  color: rgb(4, 4, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
}

.form-box h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(250, 250, 250);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 30px;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: rgb(255, 241, 241);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  line-height: 60px;
}

.remember-forgot {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: rgb(34, 32, 32);
  margin-right: 3px;
}

.remember-forgot a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 700%;
  height: 45px;
  background: rgb(44, 41, 41);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: 0.5s;
}

.btn:hover {
  color: rgb(252, 252, 252);
}

.login-register {
  font-size: 1.3em;
  color: rgb(236, 236, 236);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register a p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.register-link {
  font-weight: bold;
  color: rgb(204, 38, 38);
  text-decoration: none;
}
